<div class="container">
  <a (click)="goToHome()" style='cursor: pointer;'>
    <img [src]="'../assets/img/isa-logo-transparent.png'" alt="isa-logo" width="150" height="150">
  </a>

  <a (click)="goToHome()" style='cursor: pointer; margin-left: 40%; text-align: center;'>
    <h2>HOME</h2>
  </a>

  <a (click)="goToAbout()" style='cursor: pointer; margin-left: 5rem; text-align: center;'>
    <h2>ABOUT</h2>
  </a>

  <a (click)="goToCoaches()" style='cursor: pointer; margin-left: 5rem; text-align: center;'>
    <h2>COACHES</h2>
  </a>
</div>
