<div class="container">
  <a (click)="goToHome()" style='cursor: pointer;'>
    <img [src]="'../assets/img/isa-logo-transparent.png'" alt="isa-logo" width="150" height="150">
  </a>

  <a (click)="goToHome()" style='cursor: pointer; margin-left: auto; text-align: right;'>
    HOME
  </a>

  <a (click)="goToAbout()" style='cursor: pointer; margin-left: 5rem; text-align: right;'>
    ABOUT
  </a>

  <a (click)="goToCoaches()" style='cursor: pointer; margin-left: 5rem; text-align: right;'>
    COACHES
  </a>

</div>
  <div style="background-color: #FFD159;">&nbsp;</div>
  <div style="background-color: #000; padding: 1rem; color: #fff;">
    © 2025 Island Stars Academy. All Rights Reserved.
  </div>
